body{
    background-image: url(https://images4.alphacoders.com/131/thumb-1920-1319312.jpeg);
    background-attachment: fixed;
    box-sizing: border-box;
    color: white;
    text-align: center;
}

h1{
    background-color: black;
    
}